
.jumbotron
  %h1.display-3
    Forums reinvented.
  %p.lead
    Distributed message threads platform that will change the way you interact
    with forums forever.

.card-deck-wrapper
  .card-deck
    .card
      .card-block
        %h4.card-title Your Own Server
        %p.card-text
          Just as with traditional forum software, you can create
          your own thread server and customize it to look and feel
          the way your brand does.
    .card
      .card-block
        %h4.card-title Subscribe to Boards
        %p.card-text
          Seed your server with interesting threads by syndicating
          message boards that already exist and are distributed
          throughout the CloudThreads network.
    .card
      .card-block
        %h4.card-title Track &amp; Follow
        %p.card-text
          Keep track of thread participation across all threads on
          the CloudThreads network. Be notified when there are
          replies from participants originating on any thread server.

= render 'shared/mailchimp'
%br

.card-deck-wrapper
  .card-deck
    .card
      .card-block
        %h4.card-title Syndicate Local Boards
        %p.card-text
          When you want to open up access to a local message board
          that has some compelling content, you can push it
          out to the CloudThreads network so other servers can
          syndicate. You can even charge them for access.
    .card
      .card-block
        %h4.card-title Private Local Boards
        %p.card-text
          Message boards that stay local and
          do not become available to other servers. This allows you to have
          full control of your content and not have to worry about
          external users from posting.
    .card
      .card-block
        %h4.card-title Mobile Applications
        %p.card-text
          Simple, beautiful mobile apps let users read and post on any CloudThreads server. They are designed to make communicating
          on threads easy and effective.

.card-deck-wrapper
  .card-deck
    .card
      .card-block
        %h4.card-title Easy to Use
        %p.card-text
          An emphasis on a good user experience allows for a frustration
          free experience that no other forum platform provides for their
          users.
    .card
      .card-block
        %h4.card-title Attractive
        %p.card-text
          It's beautiful. The web app, the mobile apps, and the admin 
          app are all designed with keeping only the minimum amount of
          information on screen at once. It makes the interface attractive,
          and keeps users engaged. 
    .card
      .card-block
        %h4.card-title Commercial
        %p.card-text
          It is a paid commercial platform that ensures that it is funded
          and continuously evolving. It also provides an additional revenue
          model for server owners when charging for syndication.

%br
%br
