.server {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #d6d6d6;
  border-radius: 8px;
  background-color: #f6ffff;

  .server-logo img {
    width: 50px;
    vertical-align: middle;

  }

  .server-stats {
    color: #666;
  }

  .server-stat {
    // margin-right: 5px;
  }
}

.server:hover {
  background-color: #fff;
}
